services:
  kafka-producer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kafka-producer
    depends_on:
      kafka-1:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka-1:9094
    networks:
      - kafka-net
    restart: on-failure

networks:
  kafka-net:
    driver: bridge

volumes:
  kafka-data-1:
